body {
  margin: 0;
  padding: 0;
  background: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: inherit;
}

body,
html {
  scroll-behavior: smooth;
}

div.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.input-block {
  position: relative;
}

div.input-block input {
  color: #495055;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: #f2f2f2;
  width: 20rem;
  padding: 0.75rem 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid none;
  outline: none;
  border: 2px solid #f2f2f2;
  margin-bottom: 10px;
}

div.input-block span.placeholder {
  position: absolute;
  margin: 14px 0;
  color: #6c757d;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  top: 0;
  left: 12px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-27px);
  background: #fff;
  padding: 0 4px;
}

div.input-block input:valid,
div.input-block input:focus {
  color: #284b63;
  border: 2px solid #284b63;
}

div.input-block input:focus + span.placeholder {
  color: #284b63;
}

.button-parent {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  border: 1px solid black;
  margin-bottom: 4px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  border: none;
  transition: all ease-in-out 0.1s;
}

.button:hover {
  transform: translateY(-5px);
}

.img-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 250px;
  align-items: center;
}

header {
  display: flex;
  height: 100px;
  border-bottom: red;
  border-bottom-width: 10px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.header-right {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.header-right-content {
  display: flex;
}

.text {
  font-weight: 400;
  display: flex;
  margin: 0 30px;
  position: relative;
}

.text {
  display: flex;
  padding: 0 10px;
  margin: 0 15px;
  position: relative;
}

.text span:before {
  background-color: black;
  border-radius: 50%;
  bottom: -8px;
  content: "";
  height: 1px;
  opacity: 0;
  left: 0px;
  position: absolute;
  right: 0px;
  transform-origin: center center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}

.text:hover span:before {
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}

a {
  text-decoration: none;
  color: black;
}

.main-img {
  width: 100%;
  object-fit: fill;
}

.shirts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 5px 50px 0px 50px;
}

.shirts-img {
  width: 100%;
}

.card {
  transition: all ease-out 0.1s;
}

.card:hover {
  transform: translateY(-5px);
}

.shirt-desc {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.qtd-total {
  opacity: 0;
  transition: all ease-out 0.2s;
}

.card:hover .qtd-total {
  opacity: 1;
}

button,
input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

td input {
  border: none;
  color: #212529;
  width: 100%;
  /* background-color: aqua; */
  padding-right: 10px;
}

#subtotal {
  border: none;
  color: #212529;
  font-size: 14px;
  width: 60px;
}

td input:focus,
#subtotal {
  outline: none;
}

td .input-price {
  text-align: right;
}

td label {
  display: flex;
  width: 150px;
  font-weight: 600;
}

.shopping-card {
  display: flex;
  padding: 0 150px;
  flex-direction: column;
  justify-content: center;
}

.button-parent-2 {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

select {
  color: #495055;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 5px 5px;
  width: 200px;
  border-radius: 0.5rem;
  border: 2px solid none;
  outline: none;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

select:valid,
select:focus {
  color: #284b63;
  border: 2px solid #284b63;
}

.add-to-cart-button {
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  color: white;
  background: #000;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.card-details .price {
  font-size: 14px;
  margin-top: 6px;
}

.product-name {
  font-size: 17px;
}

.section-title {
  text-align: center;
  font-size: 23px;
  font-weight: 400;
}

.mini-product {
  width: 70px;
  object-fit: fill;
}

.divider {
  background: #000;
  width: 100%;
  height: 1px;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #d3d3d3;
  padding: 8px;
}
